<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xz.mapper.UserMapper">
    <insert id="addUser" parameterType="com.xz.entity.user.po.User">
insert  into tb_user (password,username,address)values (#{password},#{username},#{address});

    </insert>
    <select id="byUserIdGetUserInfo" resultType="com.xz.entity.user.po.User">
        select id,username,address from tb_user where id = #{id}
    </select>
    <select id="getUserByUsername" resultType="com.xz.entity.user.po.User">
        select id,username,password,address from tb_user where username = #{username}
    </select>
</mapper>
